@import "variables";
@import "header";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.services {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    background: $tomatoColor;
    flex-wrap: wrap;
}
.card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    flex-basis: 500px;
    img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    border: 2px solid black;
    border-bottom: none;
    p {
        font-family: "Bebas Neue";
        text-align: center;
    }
}

.content {
    display: flex;
    justify-content: flex-start;
    border-top: 2px solid black;
}
.categorie {
    list-style-type: none;
    flex-basis: 20%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 0;
    background: $tomatoColor;
    li {
        cursor: pointer;
        text-align: center;
        border-top: 1px solid black;
        font-family: "Bebas Neue";
        color: black;
        font-size: 20px;
        padding: 45px;
        &:hover {
            background: black;
            color: white;
        }
    }
}
.product {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}
.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    flex-basis: 500px;
    .card-img {
        flex-basis: 60%;
        margin-top: 2rem;
    }
    img {
        width: 100%;
        height: 200px;
        max-width: 400px;
    }

    border: 2px solid black;
    p {
        font-family: "Bebas Neue";
        text-align: center;
    }
}
.banner {
    background-image: url("assets/banner.jpg");
    flex-basis: 500px;
    height: 700px;
    flex-wrap: wrap;
    background-size: cover;
    .banner-text {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        align-items: flex-start;
        h1,
        h3 {
            font-family: "Bebas Neue";
            color: $tomatoColor;
            text-shadow: 2px 2px wheat;
            font-size: 150px;
            margin: 0px;
        }
        h3 {
            color: black;
            font-size: 40px;
        }
    }
}
.footer {
    flex-basis: 200px;
    background: #101010;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue";
    color: wheat;
}
@media all and (max-width: 1529px) {
    .services {
        justify-content: center;
    }
    .content {
        flex-direction: column;

        .categorie {
            justify-content: center;
            flex-direction: row;
            li {
                padding: 10px;
            }
        }
        .product {
            justify-content: center;
        }
    }
    .banner .banner-text {
        h1 {
            font-size: 60px;
        }
        h3 {
            font-size: 30px;
        }
    }
}
