@import "variables";
@import "header";
@import "section";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}



@media all and (max-width: 1529px) {
    .services {
        justify-content: center;
    }
    .content {
        flex-direction: column;

        .categorie {
            justify-content: center;
            flex-direction: row;
            li {
                padding: 10px;
            }
        }
        .product {
            justify-content: center;
        }
    }
    .banner .banner-text {
        h1 {
            font-size: 60px;
        }
        h3 {
            font-size: 30px;
        }
    }
}

@media all and (max-width: 480px) {
    .nav-bar{
        flex-direction: column;
        align-items: center;
        ul{
            padding:0px;
        }        
        
    }
}